<div class="flexbox">
<div class="leftbox">
	<img src="{{ site.baseurl }}/assets/images/ss.jpg" width="200" height="300">
</div>
<div class="rightbox">
	<p> I am a PhD candidate at the Doctoral School of Exact and Natural Sciences, Jagiellonian University in Kraków. 
	My research is conducted within the Department of Photonics at the Faculty of Physics, Astronomy, and Applied Computer Science, 
	under the supervision of Dr. hab. Adam Wojciechowski and Prof. Dr. hab. Wojciech Gawlik. My primary interest lies in the 
	exploration of color centers in diamond for quantum technology applications.

Before pursuing my PhD, I obtained an M.Sc. degree in Physics from the University of Siegen, Germany. 
My master's research, supervised by Prof. Dr. Christof Wunderlich and Dr. rer. nat. Michael Johanning, 
focused on stabilizing charged micro-particles trapped in a linear Paul trap.

Currently, my doctoral work is centered on developing advanced imaging techniques and 
data processing tools for magnetic imaging using nitrogen-vacancy (NV) centers in diamond. A significant 
aspect of my thesis involves the construction of a cryogenic diamond microscope, designed to investigate vortices in high-temperature superconductors.
	</p>
	<p>!!The website is under construction. Please stay tuned for updates!!</p>
</div>
</div>